<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maheshgaya.android.coolwallpapers" >

    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <!-- Places API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/places_api"/>

        <!-- Main Activity -->
        <activity android:name=".ui.main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- post activity -->
        <activity android:name=".ui.post.PostActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:parentActivityName=".ui.main.MainActivity"
            android:label="@string/post">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity"/>
        </activity>

        <!-- full screen for details -->
        <activity android:name=".ui.image.FullScreenActivity"
            android:theme="@style/AppTheme.FullScreenActivity"
            android:label=""/>

        <!-- keep the data sync -->
        <service
            android:exported="false"
            android:name=".sync.PostJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <!-- sets wallpaper in a background thread -->
        <service android:name=".service.SetWallpaperIntentService"/>

    </application>

</manifest>